
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
}



.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cccc;
}


.card-content .image{
    height: 300px;
    width: 100%;
    padding: 3px;
}

.card-content .image img{ 
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 3px solid #fff;
}


.card-content .button-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.card-content .button-container button{
    background-color: #7d2ae8;
    outline: none;
    border: none;
    color: #fff;
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 14px;
    transition: all .3s ease;
}

.button-container button:hover{
    background-color: #6615d0;
    cursor: pointer;
}